*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --teal: #b4d4ff;
  --gray: rgb(134, 182, 246);
  --bg: rgb(34, 34, 34);
  --yellow: ;
}

body {
  margin: 0;
  background: var(--bg);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 13rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  color: var(--teal);
  background-color: var(--gray);
  border: 1px solid var(--teal);
}

.calculator-grid button:hover {
  background-color: var(--teal);
  color: var(--gray);
}

.span-two {
  grid-column: span 2;
}

#equal-btn {
  font-size: 1.5rem;
}

.screen {
  grid-column: 1/-1;
  background-color: var(--teal);
}

.screen {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  font-size: 2rem;
  color: var(--gray);
}
